.newsCard {
  height: 360px;
  width: 300px;
  display: grid;
  grid-template-rows: 1fr 1fr 30px;

  .image-container {
    text-align: center;

    .product-image {
      max-width: 300px;
      height: 150px;
    }
  }

  .product-info {
    padding: 0 12px;
    text-align: start;
    display: grid;
    grid-template-rows: 44px 95px auto;

    .product-title {
      font-size: 1.125rem;
    }

    .product-description {
      color: #141414;
    }

    .product-price {
      font-size: 0.8rem;
    }
  }

  .details-btn {
    text-align: center;
    cursor: pointer;
    background-color: rgb(98, 131, 61);
    padding: 5px 0px;
  }
}
